.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  gap: 4rem;
  background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
}

.about__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 1rem;
}
.about__text h2 {
  padding: 1rem 0;
  font-size: 2rem;
}

.about__text p {
  max-width: 800px;
  text-align: justify;
  user-select: none;
}
.highlighted {
  color: var(--color-secondary);
  font-weight: 600;
}
.about__main__list {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 0;
}
.about__list {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  list-style: none;
  flex-wrap: wrap;
}
.about__list__item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #00000040;
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
  color: var(--color-secondary);
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: default;
}
.about__list__item svg {
  width: 1.2rem;
  height: 1.2rem;
}
.about__list__item:hover {
  background: transparent;
  color: #fff;
  border-color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 1rem 4rem;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.095);
}
.skills__container h2 {
  font-size: 1.4rem;
  text-align: left;
}

.skills__container__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.skills__container__list span {
  font-size: 0.8rem;
}
.skills__container__list i {
  font-size: 1rem;
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.skills__item {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 1.8rem 0.2rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  font-size: 0.8rem;
  border: 1px solid rgba(193, 255, 114, 0.1);
  transition: all 0.3s ease;
}

.skills__item:hover {
  color: var(--color-primary);
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
  border-color: 2px rgba(255, 255, 255, 0.2);
  user-select: none;
}

.skills__item--js:hover {
  background: rgba(240, 219, 79, 0.098);
  border: 1px solid rgba(240, 219, 79, 0.98);
}

.skills__item--html:hover {
  background: rgba(228, 77, 38, 0.15);
  border: 1px solid rgba(228, 77, 38, 0.98);
}

.skills__item--css:hover {
  background: rgba(61, 143, 198, 0.15);
  border: 1px solid rgba(61, 143, 198, 0.98);
}

.skills__item--ts:hover {
  background: rgba(0, 122, 204, 0.15);
  border: 1px solid rgba(0, 122, 204, 0.98);
}

.skills__item--react:hover {
  background: rgba(97, 218, 251, 0.12);
  border: 1px solid rgba(97, 218, 251, 0.98);
}

.skills__item--nodejs:hover {
  background: rgba(104, 160, 99, 0.15);
  border: 1px solid rgba(104, 160, 99, 0.98);
}

.skills__item--git:hover {
  background: rgba(243, 79, 41, 0.15);
  border: 1px solid rgba(243, 79, 41, 0.98);
}

.skills__item--github:hover {
  background: rgba(36, 41, 46, 0.12);
  border: 1px solid rgba(36, 41, 46, 0.98);
}

.skills__item--figma:hover {
  background: rgba(242, 78, 30, 0.12);
  border: 1px solid rgba(242, 78, 30, 0.98);
}

.skills__item--mysql:hover {
  background: rgba(0, 117, 143, 0.15);
  border: 1px solid rgba(0, 117, 143, 0.98);
}

.skills__item--tailwind:hover {
  background: rgba(56, 189, 248, 0.12);
  border: 1px solid rgba(56, 189, 248, 0.98);
}

.skills__item--pnpm:hover {
  background: rgba(249, 115, 22, 0.12);
  border: 1px solid rgba(249, 115, 22, 0.98);
}

.skills__item--vite:hover {
  background: rgba(255, 215, 0, 0.12);
  border: 1px solid rgba(255, 215, 0, 0.98);
}

.skills__item--canva:hover {
  background: rgba(0, 196, 204, 0.12);
  border: 1px solid rgba(0, 196, 204, 0.98);
}

.skills__item--materialui:hover {
  background: rgba(0, 127, 255, 0.12);
  border: 1px solid rgba(0, 127, 255, 0.98);
}

@media (max-width: 1024px) {
  .about__container {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
  }
  .about__container__text {
    text-align: center;
    padding: 2rem;
  }
  .about__container__text h2 {
    text-align: center;
  }
  .about__container__text p {
    padding: 0 1rem;
  }
  .skills__container {
    max-width: 600px;
    width: 100%;
  }
  .skills__item {
    padding: 0.5rem 3rem;
  }
  .skills__container__list i {
  font-size: 1.2rem;
}

  .skills__container__list span {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .skills__container {
    max-width: 400px;
    width: 100%;
  }
  .skills__item {
    padding: 0.2rem 1rem;
  }
  .skills__container__list i {
  font-size: 1rem;
}
.skills__container h2 {
  font-size: 1rem;
  text-align: left;
}
.about__container__text {
    text-align: center;
    padding: 0.3rem;
  }
}
