.contact {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  gap: 4rem;
  background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
}
.contact__title {
  text-align: center;
  padding: 1rem 0;
}
.contact__description {
  text-align: center;
  padding: 0.5rem 0;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__content {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
}

.contact__item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.contact__item:last-child {
  border-bottom: none;
}
.contact__item span {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-weight: 900;
}
.contact__item span svg {
  width: 1rem;
}
.contact__item a {
  text-decoration: none;
  color: #ccc;
  font-style: italic;
}
.contact__item p {
  text-decoration: none;
  color: #ccc;
  font-style: italic;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.contact__field {
  display: flex;
  flex-direction: column;
}
.contact__field label {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  padding: 0.2rem 0;
  margin-bottom: 0.5rem;
}
.contact__field input {
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  background: transparent;
}
.contact__field input:focus {
  outline: none;
  color: #fff;
}
.contact__field textarea {
  padding: 0.7rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  background: transparent;
}
.contact__field textarea:focus {
  outline: none;
  color: #fff;
}
.contact__button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.2rem;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .contact__container {
    padding: 2rem 1rem;
  }
  .contact__content {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .contact__info {
    padding: 1rem;
  }
  .contact__item {
    padding: 0.5rem;
  }
  .contact__form {
    width: 100%;
  }
  .contact__field {
    width: 100%;
  }
  .contact__field label {
    font-size: 0.9rem;
  }
  .contact__field input {
    padding: 0.5rem;
  }
  .contact__field textarea {
    padding: 0.5rem;
  }
  .contact__button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}
