/* Header Styles */

.header {
  padding: 0.5rem 0;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.098);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem;
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 0.4rem;
  padding: 0 0.2rem;
}

.navbar__item {
  padding: 0 0.4rem;
}
.navbar__link.active {
  color: var(--color-secondary);
  font-weight: 600;
}

.navbar__link {
  position: relative;
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
  font-size: 0.9rem;
  font-weight: 400;
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #c1ff72;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar__link:hover::after {
  width: 100%;
}

/* Call to Action Buttons */
.cta__button a,
.cta__button__back a {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  background: var(--color-secondary);
  color: var(--color-terceary);
  text-decoration: none;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.cta__button svg,
.cta__button__back svg {
  width: 1.4rem;
  height: 1.4rem;
  transition: transform 0.3s;
}

.cta__button:hover svg {
  transform: translateX(4px);
}

.cta__button__back:hover svg {
  transform: translateX(-4px);
}

/* Mobile Menu */
.menu__hamburguer {
  display: none;
}

.close__menu {
  display: none;
}

.open-menu svg {
  width: 2rem;
  height: 2rem;
}

.icon-close {
  display: none;
}

.open-menu.active .icon-menu {
  display: none;
}

.open-menu.active .icon-close {
  display: block;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .header__container {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
  .logo img {
    height: 1.2rem;
  }
  .navbar__list {
    gap: 0.2rem;
  }
  .navbar__item {
    padding: 0 0.3rem;
  }
  .navbar__link {
    font-size: 0.8rem;
  }
  .cta__button a,
  .cta__button__back a {
    padding: 0.2rem 0.8rem;
    font-size: 0.9rem;
  }
}

/* Mobile Menu Styles */

@media (max-width: 768px) {
  .header__container {
    padding: 0.5rem 1rem;
  }

  .logo img {
    height: 1.2rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(12, 16, 32, 0.98);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 3rem 0;
    border-bottom: 2px solid var(--color-secondary);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    z-index: -1;
  }

  .navbar.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .navbar__link {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
  }

  .navbar__link:hover {
    color: var(--color-secondary);
  }

  .cta__button {
    margin-top: 1rem;
  }

  .menu__hamburguer {
    display: block;
  }

  .menu__hamburguer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
  }

  .close__menu {
    display: block;
  }
}
