.header {
  padding: 0.5rem 0;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.098);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
}
.navbar {
  padding: 0.2rem;
}
.navbar__list {
  display: flex;
  list-style: none;
  gap: 0.4rem;
  padding: 0 0.2rem;
}
.navbar__item {
  padding: 0 0.4rem;
}
.navbar__link {
  position: relative;
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
  font-size: 0.9rem;
  font-weight: 400;
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #c1ff72;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.navbar__link:hover::after {
  width: 100%;
}

.cta__button a,
.cta__button__back a {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  background: var(--color-secondary);
  color: var(--color-terceary);
  text-decoration: none;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.cta__button svg,
.cta__button__back svg {
  width: 1.4rem;
  height: 1.4rem;
  transition: transform 0.3s;
}

.cta__button:hover svg {
  transform: translateX(4px);
}

.cta__button__back:hover svg {
  transform: translateX(-4px);
}
